/* main color */
/* #9698A3 - gray, #FCFCFC - white
   #202126 - black, #27282D - light black
   #252736 - test
   font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
dota2 id 172187697
#302F46
*/

.green {
  color: rgb(69, 236, 69);
}

.red {
  color: rgb(240, 68, 68);
}

.blue {
  color: rgb(71, 71, 250);
}
body {
  font-family: "Open Sans", sans-serif !important;
  color: #9698a3 !important;
  background-color: #252736 !important;
}

.bg-hero {
  background-image: #303242;
  font-size: 14px;
}

.bg-hero .display-info {
  padding: 5px 5px;
  width: 65%;
}

.hero-area {
  background-image: url("./assets//wind.jpg");
  position: relative;
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-hero .display-info li {
  background-color: #41435a !important;
}

.table-dark {
  background-color: #302f46 !important;
}

.table-dark th {
  font-size: 13px;
}

.table-dark td {
  font-size: 13px;
}

.table-dark tr:hover {
  cursor: pointer;
  background-color: #3e3d5a;
}

.card-display {
  background: white;
  border-radius: 8px;
  background-color: #302f46 !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  /* cursor: pointer; */
  height: 300px;
  margin: 20px;
  padding: 0 20px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.025);
  text-align: center;
  transition: height 1000ms;
  /* width: 260px; */
}

.image-box {
  position: relative;
  margin: auto;
  overflow: hidden;
}
.image-box img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
  cursor: pointer;
}

.image-box:hover img {
  transform: scale(1.1);
}
